<div class="container" style='margin-bottom: 100px'>


<%= simple_form_for (@brand) do |f| %>
  <%= f.input :name %>
  <div class="form-label">Menu *</div>
  <div data-controller='menu'>
    <div class="brand-menu-form">
      <%= f.input :menu, wrapper_html: {class: ''},input_html: {data: {menu_target: 'menu'}}%>

      <div class="items" data-menu-target='items'>
        <div class="item-group" data-menu-target='item'>
          <div class='w-100'>
            <label for="name" class='form-label m-1'>Item Name:</label>
            <input class='form-control m-1' type="text" name='name' data-action='change->menu#processItems'>
          </div>
          <div class='w-100'>
            <label for="price" class='form-label m-1'>Item Price (£):</label>
            <input class='form-control m-1' type="text" name='price' data-action='change->menu#processItems'>
          </div>
        </div>
      </div>
    </div>
    <button data-action='click->menu#newItem' class='btn btn-primary'>New Item</button>
  </div>
  <%= f.input :website %>
  <%= f.input :description %>
  <%# f.input :rating, as: :integer ???   %>
  <%= f.input :photo, as: :file %>
  <%= f.association :category, label_method: :name %>
  <%= f.association :reward_type %>
  <%# f.association :card_style, label_method: :theme %>
  <%= f.simple_fields_for :locations do |locations_form| %>
      <%= locations_form.input :address,
        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none" },
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= locations_form.input :phone_number %>
  <% end %>
  <%= f.simple_fields_for :card_style do |style_form| %>
      <%= style_form.input :theme, collection: @themes %>
      <%= style_form.input :background, as: :file %>
  <% end %>
  <%= f.submit %>
<% end %>


</div>
