<div class="bottom-navbar-container">
  <div class="bottom-navbar">
    <div class="d-flex justify-content-around align-items-center bottom-navbar-left">
      <div>
      <%= link_to "Rewards", rewards_path, class: "#{@page_rewards ? 'active' : ''} navbar-btn" %>
      </div>
      <%= link_to "MyWallet", root_path, class: "#{@page_cards ? 'active' : ''} navbar-btn" %>
    </div>
    <div class="d-flex align-items-center justify-content-center bottom-navbar-center">
      <%= link_to basic_qr_code_reader_path, class: "camera-btn" do %>
        <%= image_tag "camera-icon.png", alt: "camera-icon", class: "camera-icon" %>
      <% end %>
    </div>
    <div class="d-flex justify-content-around align-items-center bottom-navbar-right">
      <%= link_to "Shops", brands_path, class: "#{@page_brands ? 'active' : ''} navbar-btn" %>
      <%= link_to "Map", map_brands_path, class: "#{@page_map_brands ? 'active' : ''} navbar-btn" %>
    </div>
</div>
