<div class="navbar-top" data-controller='navbar'>
  <%= link_to "/", class: "navbar-brand" do %>
    <% if current_user %>
      <%= image_tag "v_navbar.svg" %>
    <% else %>
      <%= image_tag "vloyal-logo.svg" %>
    <% end %>
  <% end %>

  <button class='menu-toggle' data-action='click->navbar#toggleMenu' type="button" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-gear"></i>
  </button>

  <ul class='menu d-none' data-navbar-target='menu'>

  <% if current_user %>
    <li class="nav-item">
      <%= link_to "My Profile", user_path(current_user), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
    </li>
  <% end %>
  </ul>
</div>
