<div class="login-container">
<h2 class="login-header">Sign up</h2>
<%= image_tag 'main-v', alt: 'heading-image', class: "main-image"%>
  <div class="d-flex btn-container align-items-center px-5 py-3 justify-content-between">
    <button class="btn-style" style="width: 50px; height: 50px;">
      <i class="fa-brands fa-facebook-f fa-xl"></i>
    </button>
    <button class="btn-style" style="width: 50px; height: 50px;">
      <i class="fa-brands fa-x-twitter fa-xl"></i>
    </button>
    <button class="btn-style" style="width: 50px; height: 50px;">
      <i class="fa-brands fa-google fa-xl"></i>
    </button>
  </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name", class: "email-form" },
                  placeholder: "First Name",
                  label: false %>
    <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name", class: "email-form" },
                  placeholder: "Second Name",
                  label: false %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "email-form" },
                placeholder: "Email",
                label: false %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "email-form" },
                placeholder: "New Password",
                label: false %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: "email-form" },
                placeholder: "Confirm password",
                label: false %>
    <%= f.input :business, wrapper_html: {class: "d-none"},input_html: {checked: @business} %>
  </div>

  <div class="form-actions d-flex justify-content-center my-4">
    <%= f.button :submit, "Sign up", class: "signin-btn" %>
  </div>
<% end %>
</div>
