<h1 class="wallet-title">My Rewards</h1>
<%=  image_tag 'under-txt-logo.png', alt: "under-text-v", class: "under-txt-logo"%>

<div data-controller= "qrprompt" class="controller">
  <% @rewards.each do |reward| %>
    <% if !reward.claimed %>
      <div class="whole-card rewards" data-qrprompt-target='card' data-src='<%= cl_image_path reward.qrcode.key%>.png'>
          <div class="reward-brand-name px-3 pt-3" id="<%= reward.card.brand.card_style.theme.downcase %>">
            <p><i class="fa-regular fa-circle"></i><%= reward.card.brand.name %></p>
          </div>
          <div class="reward-message p-3 d-flex justify-content-between">
            <p><strong>Congratulations!</strong>  You have one free <%= reward.card.brand.category.name.split(" ")[0].downcase %> from <%= reward.card.brand.name %>. Press show to display your QR code.</p>
            <%= link_to "Show", "#",  data: { action: "click->qrprompt#showPrompt"} %><i class="fa-solid fa-circle-chevron-down"></i>
          </div>
        </div>
    <% end %>
  <% end %>

  <% if @rewards.filter {|r| r.claimed == false }.empty? %>
    <div class="no-reward-message">
      <h2>You have no rewards right now...</h2>
    </div>
  <% end %>

    <div data-qrprompt-target="prompt" class="prompt qr d-none d-flex justify-content-center" style='position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 5;'>
    <div class="prompt-div qrprompt" data-action="click->qrprompt#hidePrompt"></div>
    <div class="inner">
      <%= image_tag("prompt-image.png", alt: "prompt-image", class: "prompt-image") %>
      <img src="" alt="qr_code" data-qrprompt-target='img' class='qr-code'>
    </div>
    </div>
  </div>
<div class="set-height"></div>
