<div class="profile-page-container">


  <% items_bought = [] %>
  <% rewards_earned = [] %>
  <% @cards.each do |card| %>
    <% items_bought << (card.stamps + (card.rewards.count * 8)) %>
    <% rewards_earned << card.rewards.count %>
  <%end%>
  <div class="general-info">
  <!---  <p>You have purchased <strong><%= items_bought.sum %></strong> items so far, earning <strong><%= rewards_earned.sum %></strong> rewards.</p> --->

    <% shops_visited = [] %>
    <% @cards.each do |card| %>
      <% shops_visited << card %>
    <% end %>
    <% shops_visited.sort_by { |card| (card.stamps + (card.rewards.count * 8)) } %>
    <% if shops_visited.first.rewards.count == 1 %>
    <!---  <P>You're favourite spot is <strong><%= shops_visited.first.brand.name %></strong>, where you've made <strong><%= (shops_visited.first.stamps + (shops_visited.first.rewards.count * 8)) %></strong> purchases and earned <strong><%= shops_visited.first.rewards.count %></strong> reward.</p> --->
    <% else %>
    <!---  <P>You're favourite spot is <strong><%= shops_visited.first.brand.name %></strong>, where you've made <strong><%= (shops_visited.first.stamps + (shops_visited.first.rewards.count * 8)) %></strong> purchases and earned <strong><%= shops_visited.first.rewards.count %></strong> rewards. </p> --->
    <% end %>
  </div>

  <div class="profile-boxes-container" data-controller='profile'>

    <div class="profile-info-box" id="box-one" data-controller-profile-target="profilecard" data-action="click->profile#enlarge">
      <div class="profile-box-number">
        <%= items_bought.sum %>
      </div>
      <div class="profile-box-text">
        <p>The number of items you've bought</p>
      </div>
    </div>

    <div class="profile-info-box" id="box-two" data-controller-profile-target="profilecard" data-action="click->profile#enlarge">
      <div class="profile-box-number">
        <%= rewards_earned.sum %>
      </div>
      <div class="profile-box-text">
        <p>The number of rewards you've earned</p>
      </div>
    </div>

    <div class="profile-info-box" id="box-three"  data-controller-profile-target="profilecard" data-action="click->profile#enlarge">
      <div class="profile-box-number">
        <%= (shops_visited.first.stamps + (shops_visited.first.rewards.count * 8)) %>
      </div>
      <div class="profile-box-text">
        <p>The number of items you've purchased in <strong><%= shops_visited.first.brand.name %></strong></p>
      </div>
    </div>

    <div class="profile-info-box" id="box-four" data-controller-profile-target="profilecard" data-action="click->profile#enlarge">
      <div class="profile-box-number">
        <%= shops_visited.first.rewards.count %>
      </div>
      <div class="profile-box-text">
        <% if shops_visited.first.rewards.count == 0 %>
          <p> You've earned your first reward in <%= shops_visited.first.brand.name %></p>
        <% else %>
          <p> The number of rewards you've earned in <strong><%= shops_visited.first.brand.name %></strong></p>
        <% end %>
      </div>
    </div>
  </div>
  <div style= "text-align: center; margin: 5% 0 auto;">
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, style: "text-decoration: none; color: #546E7A" %>
  </div>
</div>
