<div class="card-index-body">

  <header></header>

  <h2 class="wallet-title">My Wallet</h2>

  <p class="coffee-shops">Coffee shops</p>
  <div class="loyalty-cards-container">

    <% if @cards.blank? %>

      <div class="loyalty-card">
          <%= link_to brands_path do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
      </div>

    <% else %>

      <% @cards.each do |card| %>
        <div class="loyalty-card">
          <div class="brand-name">
            <p><i class="fa-regular fa-circle"></i> <%= card.brand.name %></p>
          </div>

          <div class="user-date">
            <h6 class="card-user-name"><%= card.user.first_name %> <%= card.user.last_name %></h6>
            <h6 class="card-user-name"> <%= card.created_at.strftime('%m/%y') %> </h6>
          </div>

      <% end %>
        </div>

    <% end %>

  </div>

  <footer></footer>

</div>
