<div class="loyalty-card" data-basic-qr-code-reader-target='card'>
 <div class="loyalty-card-inner">
    <div class="loyalty-card-front" style="background-image: url('<%= cl_image_path @card.brand.card_styles[0].background.key %>'); object-fit: scale-down;";>

      <div class="brand-name">
        <div class="card-front-logo-circle">
          <%= image_tag @card.brand.category.file_name, class: "inner-logo" %>
        </div>
        <p><%= @card.brand.name %></p>
      </div>

      <div class="user-date">
        <h6 class="card-user-name"><%= @card.user.first_name %> <%= @card.user.last_name %></h6>
        <h6 class="no-of-stamps"> <%= @card.stamps %>/<%= @card.card_styles[0].max_stamps %> </h6>
      </div>

    </div>

    <div class="loyalty-card-back <%= @card.brand.card_styles[0].theme.downcase %>">

        <div class="brand-name">
        <div class="card-front-logo-circle">
          <%= image_tag @card.brand.category.file_name, class: "inner-logo" %>
        </div>
        <p><%= @card.brand.name %></p>
      </div>

      <% stamps = @card.stamps %>
      <div class="stamp-area">
        <% @card.card_styles[0].max_stamps.times do %>
          <% if stamps.positive? %>
            <div class="stamp stamped" data-basic-qr-code-reader-target='stamp'>
              <%= image_tag @card.brand.category.file_name %>
            </div>
          <% else %>
            <div class="stamp" data-basic-qr-code-reader-target='stamp'>
              <%= image_tag 'bean.svg'%>
            </div>
          <% end %>
          <% stamps -= 1%>
        <% end %>
      </div>
    </div>
  </div>
</div>
