<div data-geocoding-target="list">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize brands.count, "brand" %> available
    <% else %>
      <%= pluralize brands.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="brands">
    <% brands.each do |brand| %>
      <%# brand.name%>
      <%= link_to brand.name, brand_path(brand) %>
      <% locations = Location.where("brand_id = #{brand.id}") %>
      <% locations.each do |loc| %>
        <%# loc.address %>
        <%= loc.geocoded? ? "#{loc.distance_from(user_location).round(2)} km from you"  : "we don't know" %>
      <% end %>
      <br>
      <br>
      <br>
    <% end %>
  </div>
</div>
