<div data-geocoding-target="list">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize brands.count, "brand" %> available
    <% else %>
      <%= pluralize brands.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="brands">
    <% brands.each do |brand| %>
    <div class="brand-container my-4">
      <div class="brand-info">
        <div>
          <%= link_to brand.name, brand_path(brand), class: "brand-names" %>
          <% if brand.category.name == "Coffee Shop" %>
            <i class="fa-solid fa-mug-saucer"></i>
          <% end %>
<br>
          <% if current_user.cards.where(brand_id: brand.id).length > 0 %>
            <i class="fa-solid fa-circle-check"></i>
          <% else %>
            <%= link_to brand_cards_url(brand), data: {controller: "check-icon", turbo_method: :post, action: 'click->check-icon#flip'}, style: "color: black;" do %>
              <i class="fa-regular fa-circle-check"></i>
            <% end %>
          <% end %>
        </div>
          <i class="fa-solid fa-star"></i> <%= brand.rating %>
<br>
          <% locations = Location.where("brand_id = #{brand.id}") %>
          <% locations.each do |loc| %>
          <%= loc.geocoded? ? "#{loc.distance_from(user_location).round(2)} km away"  : "..." %>

      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
