<div class="container">
  <div class="row">
    <% @location = @location[0] ? @location : [] %>
    <div class="col" data-controller="geocoding" data-geocoding-location-value="<%= @location %>">
      <h1 class="wallet-title">Shops</h1>
      <%=  image_tag 'under-txt-logo.png', alt: "under-text-v", class: "under-txt-logo"%>

      <p data-geocoding-target="location" class="d-none">Waiting for location...</p>

      <div class="brands-form">
        <%= form_with url: brands_path, method: :get, html: {class: "mb-4", data: {geocoding_target: "form"}} do |f| %>
          <%# <%= f.label :query, "Type a brand name" %>
          <%= f.text_field :query,
                           class: "form-control",
                           placeholder: "Search for a shop",
                           value: params[:query],
                           data: {geocoding_target: "input", action:"keyup->geocoding#search"}
                           %>
        <% end %>

        <div class="list-wrapper">
          <div class="loading" data-geocoding-target='loading'>
            <h3>Loading your location</h3>
            <i class="fa-solid fa-spinner"></i>
          </div>
          <div class="list-cont hidden" data-geocoding-target='listCont'>
            <%= render "list", brands: @brands, user_location: @location %>
          </div>
        </div>
        <%# itirate through each og them by category %>

      </div>
    </div>
  </div>
</div>
<div class="set-height-brands"></div>
